.shop__container {
  margin: 4rem;
  display: flex;
  gap: 2rem;
}
.shop__section-right {
  width: 20%;
}
.shop__category-container {
  margin-bottom: 2rem;
  border: 0.15rem solid rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
  position: relative;
}
.shop__category-title {
  font-size: 1.1rem;
  padding: 0.6rem;
  font-weight: bold;
  padding-right: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 1.2rem;
}
.shop__Products-category {
  margin-right: 1%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  margin-top: 4%;
  cursor: pointer;
}
.shop__Products-category:hover {
  color: rgba(0, 0, 0, 0.8);
}
.shop__filter-min-label {
  display: block;
  color: rgba(0, 0, 0, 0.5);
}
.shop__filter-min {
  margin: 0.5rem 0;
}
.shop__filter-min-text {
  border: none;
  outline: none;
}
.shop__filter-min-text:hover {
  outline: none;
  border: none;
}
.shop__filter-min-text-t-1 {
  position: absolute;
  right: 40%;
  top: 43%;
}
.shop__filter-min-text-t-2{
    position: absolute;
  right: 40%;
  top: 69%;
}
.shop__filter-btn {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 1rem;

}
.shop__section-left {
  width: 80%;
}
.shop__products-section {
  display: flex;
  flex-wrap: wrap;
}
