.d-f{
    display: flex;
}
.topbar-right__section{
    display: flex;
    align-items: center;
}
.topbar-right__section::after{
    content: "";
    position: relative;
    inset-inline-end: calc((30px / 2)* -1);
    border-right: 1px solid rgba(0, 0, 0, 0.105);
}
.topbar__right-icon{
    padding-left: 10px;
    font-size: 22px;
}
.p-l{
    padding-left: 0;
}