.nav-icon__link {
  display: flex;
}
.nav-icon__icon:hover{
  color: black;
}
.nav-icon__section {
  display: flex;
}
.nav-icon__icon {
  display: flex;
  color: rgba(0, 0, 0, 0.6);

  font-size: 22px;
  margin-left: 10px;
}
