.nav-item__link {
  color: #333;
  text-decoration: none;
}
.nav-item__link:hover{
  color: #777;
}
.nav-item__link::after{
  content: "";
  position: relative;
  inset-inline-end: calc((30px / 2)* -1);
  border-right: 1px solid rgba(0, 0, 0, 0.105);
}
.nav-item__section {
  font-size: 12px;
  font-weight: 400;
  margin-right:30px;

}

