.BannerTree__container {
  display: flex;
  gap: 30px;
  margin: 20px 70px;
  justify-content: center;
  align-items: center;
}
.BannerTree__img-section {
  display: flex;
  position: relative;
  width: 20%;
  
}
.BannerTree__img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-position:center ;
}
.BannerTree__img-section-content{
    position: absolute;
    bottom: 0;
    right: 25%;
}
.BannerTree__img-hover {

  display: none;
  position: absolute;
  top: 30px;
  right: 24px;
  width: 80%;
  height: 80%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}
.BannerTree__img-hover-btn {
    position: absolute;
    top: 190px;
    right: 40px; 
}
.BannerTree__title {
    display: flex;
    position: absolute;
    right: 30%;
    top: 80%;
    text-align: center;
}
.BannerTree__title-text{
    align-items: center;
    display: block;
    font-weight: 500;
    font-size: 20px;
    
}
.BannerTree__img-section:hover .BannerTree__img-hover{
    display: inline;
}
.BannerTree__img-section:hover .BannerTree__title{
    top: 190px;
    z-index: 1000000;
}

